@use 'sass:math';
@use 'colors';
@use 'fonts';

@mixin line($pseudo, $length: 'long') {
    $base64: 'PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzOTMuNSA1LjIyIj48cGF0aCBkPSJNMzkzLjUsMEgwVjUuMjJIMzg4LjVaIiBzdHlsZT0iZmlsbDojMDE5MjNmIi8+PC9zdmc+';
    $width: 393.5;

    @if $length == 'medium' {
        $base64: 'PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNjIuNTYgNS4yMiI+PHBhdGggZD0iTTI2Mi41NiwwSDBWNS4yMkgyNTcuNTZaIiBzdHlsZT0iZmlsbDojZmZmIi8+PC9zdmc+';
        $width: 262.56;
    } @else if $length == 'short' {
        $base64: 'PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5OS4xMyA1LjIyIj48cGF0aCBkPSJNOTkuMTMsMEgwVjUuMjJIOTQuMTNaIiBzdHlsZT0iZmlsbDojMDE5MjNmIi8+PC9zdmc+';
        $width: 99.13;
    }

    @if $pseudo == '::after' or $pseudo == '::before' {
        &#{$pseudo} {
            content: '';
            display: block;
            background: url('data:image/svg+xml;base64,#{$base64}');
            background-repeat: no-repeat;
            width: math.div($width, 16) * 1rem;
            height: math.div(5.22, 16) * 1rem;
            margin: 0;
        }
    } @else {
        @error "Allowed pseudo-elements are \"::after\" and \"::before\".";
    }
}

* {
    box-sizing: border-box;
    font-family: fonts.$ubuntu;
    line-height: 1.25;
}

body, html {
    width: 100%;
    height: 100%;
}

html {
    font-size: 12px;
}

svg, img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

hr {
    border-top-color: colors.$green;
    margin: 0;

    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 20px;
        background: red;
    }
}

.button {
    border: none;
    border-radius: 9999px;
    background: colors.$green;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: fonts.$bold;
    padding: 1em 3.5em;
    letter-spacing: .0625em;
    transition: background linear .1s;

    &, &:hover, &:focus, &:visited, &:active {
        color: colors.$white;
        text-decoration: none;
    }

    &:hover {
        background: darken(colors.$green, 1.25%);

        svg {
            transform: translateX(25%);
        }
    }

    svg {
        margin-left: 1.5rem;
        width: 1rem;
        height: 1rem * math.div(15.6 ,  20.444);
        transition: transform linear .1s;
    }

    path {
        fill: colors.$white;
    }

    &-contrast {
        background: colors.$white;

        &, &:hover, &:focus, &:visited, &:active {
            color: colors.$black;
        }

        &:hover {
            background: darken(colors.$white, 1.25%);
        }

        path {
            fill: colors.$black;
        }
    }

    @at-root [data-col="form"] #{&} {
        margin-top: 1rem;
    }

    @at-root [data-col="call"] #{&} {
        margin-top: 1.5rem;
    }

    @at-root [data-row="cookies"] #{&} {
        flex: 0 0 auto;
    }
}

.alert {
    @at-root [data-col="form"] #{&} {
        border-radius: 0;
        margin-bottom: .75rem;

        p {
            font-size: .8rem;
            margin: 0;
        }
    }
}

.form {
    &-group {
        margin-bottom: .75rem;
    }

    &-control {
        border-radius: 0;
        border: 1px solid colors.$silver;
        font-size: 0.8125rem;
        font-family: fonts.$arial;
        padding: 1.5em 1.25em;
        height: calc(3em + .75rem + 2px);

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(colors.$green, .25);
            border-color: rgba(colors.$green, .25);
        }

        &, &::placeholder {
            color: colors.$grey;
        }
    }

    &-check {
        margin-bottom: .5rem;
        padding-left: 1.75rem;

        &-input {
            margin-left: -1.75rem;
        }

        &-label {
            font-size: 0.625rem;
            color: colors.$sonic;
        }
    }
}

[class^="col"] {
    &[data-col="agroas"],
    &[data-col="horsch"] {
        svg {
            margin: 2rem 0;
        }
    }

    &[data-col="agroas"] {
        svg {
            width: 14.375rem;
            padding-right: 1rem;
        }
    }

    &[data-col="horsch"] {
        svg {
            width: 12.5rem;
            padding-left: 1rem;
            margin-left: auto;
        }
    }

    &[data-col="claim"] {
        position: relative;

        p {
            background: colors.$green;
            color: colors.$white;
            text-transform: uppercase;
            font-size: 1.625rem;
            font-weight: fonts.$medium;
            margin: 0;
            padding: math.div(42, 26) * 1em 0;
            letter-spacing: .1em;
        }

        strong {
            display: block;
            font-size: math.div(23, 13) * 1em;
            font-weight: fonts.$bold;
            letter-spacing: .025em;
            margin-bottom: .4em;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100vw;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: colors.$green;
            z-index: -1;
        }
    }

    &[data-col="intro"] {
        margin-top: 2rem;
        margin-bottom: 0;

        h1 {
            font-size: 1.625rem;
            font-weight: fonts.$regular;
            text-transform: uppercase;
            color: colors.$black;
            letter-spacing: .075rem;
            margin: 0 0 1em;

            span {
                display: block;
                font-weight: fonts.$bold;
                color: colors.$green;
                font-size: math.div(23, 13) * 1em;
            }

            &::after {
                display: none;
            }
        }
    }

    &[data-col="form"] {
        background: colors.$cultured;
        padding: 1rem;
        margin: 0 -15px 2.875rem;
        width: calc(100% + 30px);

        h2 {
            @include line('::after');
            font-size: 2.125rem;
            font-weight: fonts.$bold;
            color: colors.$green;

            &::after {
                margin: 1.5rem 0 1rem;
            }

            + p {
                font-size: 1.5rem;
                font-weight: fonts.$regular;
                color: colors.$black;

                strong {
                    font-weight: fonts.$bold;
                }
            }
        }
    }

    &[data-col="model"] {
        margin-bottom: 1rem;

        h3, p {
            padding-right: 3rem;
            line-height: 1.5;
        }

        h3 {
            @include line('::after', 'short');
            font-size: .875rem;
            font-weight: fonts.$regular;
            color: colors.$sonic;
            margin: math.div(9, 7) * 1em 0;

            span {
                font-size: math.div(24, 14) * 1em;
                font-weight: fonts.$bold;
                color: colors.$black;
                display: block;
                margin-top: math.div(5, 24) * 1em;
            }

            &::after {
                margin-top: 1rem;
            }
        }

        p {
            color: colors.$black;
            font-weight: fonts.$bold;
            font-size: 1.125rem;
            margin: 0 0 1em;

            + p {
                color: colors.$grey;
                font-weight: fonts.$regular;
                font-size: 1rem;
            }
        }
    }

    &[data-col="call"] {
        background: colors.$green;
        padding: 2rem 15px;
        width: calc(100% + 30px);
        margin: 0 -15px;

        svg[viewBox="0 0 93 93"] {
            width: 5.875rem;
            height: 5.875rem;
            margin-left: 0;
        }

        p {
            color: colors.$white;
            font-weight: fonts.$regular;
            font-size: 1.5rem;
            margin-top: 1.625rem;

            + p {
                font-size: 2.125rem;
                margin-top: 0;

                + p {
                    font-size: 1.15rem;

                    + p {
                        @include line('::before', 'medium');
                        font-size: 2.125rem;
                        margin-bottom: 0;

                        &::before {
                            margin: 2.5rem 0 2rem;
                        }
                    }
                }
            }

        }

        strong {
            font-weight: fonts.$bold;
        }
    }

    &[data-col="story"] {
        p {
            line-height: 1.5;
            color: colors.$black;
            font-size: 1.125rem;
            font-weight: fonts.$bold;
            margin-bottom: math.div(14, 9) * 1em;

            + p {
                font-weight: fonts.$regular;

                + p {
                    margin-bottom: 0;
                }
            }
        }

        a {
            &, &:hover, &:visited, &:active, &:focus {
                color: colors.$green;
            }
        }
    }

    &[data-col="offer"] {
        p {
            color: colors.$black;
            font-size: 1.5rem;
            margin-top: 1em;
            margin-bottom: math.div(2, 3) * 1em;

            + p {
                font-size: 2.125rem;
                font-weight: fonts.$bold;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

.row {
    &[data-row="logos"] {
        position: relative;
        z-index: 1;
        align-items: center;
    }

    &[data-row="bg-wrapper"] {
        img {
            max-width: 100vw;
            transform: translateX(-50%);
            position: relative;
            left: 50%;
        }
    }

    &[data-row="contact-us"] {
        margin-bottom: 2.875rem;

        p {
            font-size: 1.5rem;
            font-weight: fonts.$medium;
            text-align: center;
            margin: 0;

            a {
                font-weight: fonts.$regular;
                color: colors.$green;
            }
        }
    }

    &[data-row="story-offer"],
    &[data-row="footer"] {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100vw;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: colors.$cultured;
            z-index: -1;
        }
    }

    &[data-row="story-offer"] {
        margin-top: 3rem;

        h2 {
            @include line('::after', 'short');
            font-weight: fonts.$bold;
            font-size: 1.875rem;
            color: colors.$black;
            margin: math.div(43, 30) * 1em 0 math.div(11, 15) * 1em;

            &::after {
                margin-top: math.div(23, 30) * 1em;
            }
        }
    }

    &[data-row="footer"] {
        padding-bottom: 1.5rem;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: colors.$spanish;
            margin: 1.875rem 0 1.5rem;
        }

        &::after {
            @at-root [data-body="thank-you"] #{&} {
                display: none;
            }
        }

        p, a {
            color: colors.$spanish;
            font-size: .875rem;
        }

        p {
            margin: 0;
        }

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: .5rem 0 0;
            padding: 0;
        }
    }

    &[data-row="cookies"] {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 6666;
        background: colors.$sonic;
        justify-content: center;

        p, a {
            color: colors.$white;
            font-size: .875rem;
        }

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        p {
            margin: 0 0 1em;
        }
    }

    &[data-row="thank-you"] {
        margin-top: 4.5rem;
        margin-bottom: 9rem;

        h1 {
            text-transform: uppercase;
            font-size: 2.25rem;
            font-weight: fonts.$regular;
            color: colors.$black;

            span {
                display: block;
                font-weight: fonts.$bold;
                font-size: math.div(4, 3) * 1em;
                color: colors.$green;
            }
        }

        p {
            margin: 2em 0 0;
            font-size: 1rem;
            font-weight: fonts.$regular;
            color: colors.$black;

            strong {
                font-weight: fonts.$medium;

            }

            span {
                font-weight: fonts.$medium;
                color: colors.$green;
            }
        }
    }
}

.container {
    @at-root #wrapper #{&} {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

#wrapper {
    overflow-x: hidden;
    height: 100%;
}

@media (min-width: 401px) {
    [class^="col"] {
        &[data-col="agroas"] {
            svg {
                padding-right: 0;
            }
        }

        &[data-col="horsch"] {
            svg {
                padding-left: 0;
            }
        }
    }
}

@media (min-width: 576px) {
    html {
        font-size: 13px;
    }

    .button {
        @at-root [data-col="call"] #{&} {
            margin-top: 2.875rem;
        }
    }

    [class^="col"] {
        &[data-col="intro"] {
            h1 {
                margin-left: 2.8125rem;
                margin-right: 2.8125rem;
            }
        }

        &[data-col="form"] {
            margin-left: 0;
            margin-right: 0;
            padding: 1.5rem 2.8125rem 2.1875rem;
            width: 100%;
        }

        &[data-col="model"] {
            margin-bottom: 2rem;
        }

        &[data-col="call"] {
            padding: 2.375rem 2rem 3.75rem 2.5rem;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        @at-root [data-row="cookies"] #{&} {
            padding: 1.25rem 15px;
        }
    }

    .row {
        &[data-row="contact-us"] {
            margin-bottom: 2.1875rem;
        }
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }

    [class^="col"] {
        &[data-col="model"] {
            margin-bottom: 2rem;

            img {
                width: calc(100% - 2px);
            }
        }

        &[data-col="call"] {
            margin-top: 0;

            br {
                display: none;
            }
        }

        &[data-col="story"] {
            p {
                margin-right: 1rem;
            }
        }

        &[data-col="offer"] {
            p {
                margin-top: 0;
                margin-left: 1rem;
            }
        }

        @at-root [data-row="cookies"] #{&} {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .row {
        &[data-row="footer"] {
            padding-bottom: 3.25rem;

            ul {
                flex-direction: row;
                justify-content: flex-end;
                margin-top: 0;
            }

            li + li {
                margin-left: 1.2em;
            }
        }

        &[data-row="cookies"] {
            p {
                margin-bottom: 0;
                margin-right: 1em;
            }
        }
    }
}

@media (min-width: 992px) {
    [class^="col"] {
        &[data-col="horsch"] {
            svg {
                margin-right: 2rem;
            }
        }

        &[data-col="claim"] {
            &::after {
                display: none;
            }

            p {
                padding-left: math.div(42, 26) * 1em;
                padding-right: math.div(42, 26) * 1em;
            }
        }

        &[data-col="intro"] {
            margin-top: auto;

            h1 {
                @include line('::after');
                margin: 0;

                &::after {
                    margin: 4.375rem 0 3.1875rem;
                }
            }
        }

        &[data-col="model"] {
            img {
                margin-left: 0;
            }
        }

        &[data-col="story"] {
            p {
                max-width: 32rem;
                margin-right: 0;
            }
        }

        &[data-col="offer"] {
            p {
                max-width: 26rem;
                margin-left: 3rem;
            }
        }
    }

    .row {
        &[data-row="logos"] {
            align-items: flex-start;
        }

        &[data-row="bg-wrapper"] {
            img {
                max-width: none;
            }
        }

        &[data-row="form-wrapper"] {
            align-items: flex-end;
        }

        &[data-row="story-offer"] {
            margin-top: 0;
        }
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }

    .container {
        &, &-lg, &-md, &-sm, &-xl {
            max-width: 1170px;
            padding-left: 0;
            padding-right: 0;
        }
    }
}