html {scroll-behavior: smooth;}
* {box-sizing: border-box;}
body {padding:0; margin:0; font-family: Ubuntu, Helvetica, Arial, sans-serif;}
a {color:#000; text-decoration:none;}

h1, h2, h3, h4, h5, h6 {margin:0.5rem 0; line-height:1.2; color:#000}
h2 {font-size:2.2rem;}
h3 {font-size:1.5rem;}
h4 {font-size:1.25rem;}
p {font-size:1.125rem; line-height:1.4;}

h1 {font-size:5rem}
h2 span, h3 span {color:#01923F}

.hidden {display:none;}
.hidden[data-show="true"] {display:block;}
.relative {position:relative;}
img {max-width:100%;}
.text-center {text-align:center;}
.text-left {text-align:left;}
.text-right {text-align:right;}
.center {float:none; margin:0 auto;}
.button {position: relative; display:inline-block; background:#01923F; color:#fff; border:0; margin:1rem auto; padding:1.25rem 4rem 1.25rem 2.5rem; font-size: 1.125rem; font-family: inherit; font-weight: bold; cursor: pointer; outline: none !important; transition:all 250ms ease-in-out; text-decoration:none; text-transform: uppercase; line-height:1.4; border-radius: 50px}
.button:after {display: inline-block; width:21px; height:16px; position: absolute; right: 1.5rem; right; margin-left: 1.5rem; background: url('../img/icon-arrow.svg') no-repeat; background-size: contain; content: ""; transform: translatey(5px); transition: transform 300ms ease-in-out;}
.button:hover {transform: translateY(-3px); }
.clearfix {width:100%; display:block; height:1px; clear:both;}
.no-padding {padding-left:0; padding-right:0;}
.right {float: right;}
.left {float: left}
p.big {font-size: 1.6rem;}
.bold {font-weight: bold}

#logo {padding: 1.5rem; margin-bottom: 9rem; background: #fff;}

header {max-width: 90rem; margin: 0 auto; padding-bottom: 4rem}
header .background {width: 100%; height: 100%; position: absolute; object-fit: cover; top: 0; z-index: -2}
header .pre-title {font-size: 1.6rem; color: #fff; text-shadow: 2px 5px 16px rgba(0,0,0,0.5)}
header .pre-title.small {display: block; max-width:516px; margin-bottom: 1rem; font-size: 0.85rem; position: relative; padding: 1rem; background: #01923F; border-radius: 8px; color: #fff; transition: transform 300ms ease-in-out; z-index: 1; text-shadow: none; overflow: hidden}
header .pre-title.small p {width: 75%; display: inline-block; margin: 0; padding-right: 1.5rem; float: left;}
header .pre-title.small p strong {display: block; margin-bottom: 0.25rem; font-size: 1.5rem;}
header .pre-title.small .miarka {width: 25%; float: right; text-align: center; position: relative;}
header .pre-title.small .miarka:before {position: absolute; z-index: -1; background: #fff; content: ""; display: block; top: -1rem; bottom: -1rem; right: -1rem; left: -1rem;}
header .pre-title.small .miarka p {display: block; width: 100%; text-align: center; text-transform: uppercase; font-weight: bold; font-size: 1.5rem; color: #01923F}
header .pre-title.small .miarka img {max-height: 90px;}
header h1 {margin-top: 0; margin-bottom: 2rem; font-size:3.5rem; color: #fff; text-shadow: 2px 5px 16px rgba(0,0,0,0.5)}
header .big-buttons {margin-top: 1rem; overflow: auto}
header .big-buttons .big-button.left-margin {position:relative; left:3rem}
header .big-button {display: block; position: relative; padding: 1rem 4.3rem 1rem 1rem; background: #fff; border-radius: 8px; font-size: 1.6rem; color: #000; transition: transform 300ms ease-in-out; z-index: 1}
header .big-button strong {color: #01923F}
header .big-button img {width: 90px; height: 90px; float: left; margin: 0 1.5rem 2rem -3.8rem; padding: 0.8rem; background: #01923F; border-radius: 90px; vertical-align: middle;}
header .big-button:after {display: inline-block; width: 32px; height: 32px; float: right; background: url('../img/icon-arrow-down.svg') no-repeat; background-size: contain; content: ""; position: absolute; top: 50%; right: 1rem; transform: translateY(-50%);}
header .big-button:hover {transform: translateY(4px);}

header .formularz {position: absolute; top: -1rem; left: 55.2%; right: 1rem; z-index: 0; display: block; padding: 2rem 1.125rem 0 1.125rem; margin-left: 3.35rem; background: #fff; border-radius: 8px}
header .formularz .field.checkbox {margin-top: 0.5rem; line-height: 0.4;}
header .formularz .field.checkbox label {display: inline; font-size: 0.625rem; color:#707070; line-height: 1;}
header .formularz .small {font-size: 0.625rem; color: #707070}
header .formularz .small a {color: #01923F; text-decoration: underline}
header .formularz strong {color: #01923F; font-size: 1.6rem;}
header .formularz p {font-size: 1rem; line-height: 1.2}
header .formularz p strong {color: inherit; font-size: inherit;}
header .formularz span {display: none; font-size: 0.8rem; color: #c03}
header .formularz .show {display: block}
header .formularz .error {border: 1px solid #c03 !important}
header .formularz .field label {display: block; margin: 0.25rem 0; font-size: 0.85rem; color:#747474;}
header .formularz .field input[type="text"], header .formularz .field input[type="email"], header .formularz .field input[type="tel"] {width: 100%; padding: 0.35rem 0.5rem; border: 0; border-bottom: 1px solid #707070; font-size: 1rem; background: #f1f1f1;}
header .formularz .field input[type="text"]:focus, header .formularz .field input[type="email"]:focus, header .formularz .field input[type="tel"]:focus {outline: 1px solid #000 !important}
header .formularz .button {float: left; padding: 0; overflow: auto;}
header .formularz .button[disabled="true"] {background: #999;}
header .formularz .button[disabled="true"]:after {fill: #999}
header .formularz .button:after {transform: translateY(19px);}
header .formularz .button input[type="submit"] { margin:0; padding:1rem 4rem 1rem 2.5rem; background: transparent; color: inherit; border: inherit; font-size: inherit; font-family: inherit; font-weight: inherit; cursor: inherit}
header .formularz .badge {width: 117px; height: 117px; padding: 1.6rem; position: absolute; top: 1rem; left: -8.2rem;}
header .formularz .miarka {padding-left: 0.5rem; transform: translatey(3rem);}
header .formularz .miarka img {float: right; margin-right: 0.5rem}
header .formularz .miarka p {float: right; margin-top: 1rem; font-size: 0.85rem;}

.circle {border-radius: 100%;}
h2 {font-size: 3rem; color: #000}
.subtitle {display: block; margin: 2.5rem 0; font-size: 1.6rem; color: #01923F;}
section {padding-top: 3rem; padding-bottom: 3rem}
.badge {display: inline-block; top: 3rem; right: 2rem; position: absolute; width: 130px; height: 130px; padding: 0.8rem; background: #01923F; border-radius: 65px;}
.left-padding {padding-left: 3.6rem}

.grey {background: #F7F7F7; border-radius: 8px;}
.white {background: #fff; border-radius: 8px;}

.icons {margin: 3rem 0; text-align: center;}
.icons .col {padding: 2.5rem 1.5rem;}
.icons p {margin-bottom:0;}

.features span {font-size: 1.6rem; color: #525252; text-transform: uppercase;}
.features ul {margin: 1rem 0; padding: 0; list-style-type: none;}
.features ul li {padding: 0.3rem 0; color: #525252; font-size: 1.125rem}
.features ul li strong {color: #000}

footer {padding-top: 3rem}
footer h3 {margin-bottom: 3rem 0 2rem 0; color: #01923F;}
footer img {margin-bottom: 2rem;}
footer .footer-bottom {margin-top: 2rem; border-top: 1px solid #ddd}
footer .footer-bottom p {font-size: 0.85rem; color: #666}
footer p a {color: #01923F}
footer ul {display: block; margin: 0.875rem 0; padding: 0; list-style-type: none; text-align: right}
footer ul li {display: inline-block; margin: 0 0.5rem; font-size: 0.85rem;}
footer ul li a {color: #666}
footer ul li a:hover {text-decoration: underline;}

.thank-you {margin-bottom: 1rem; overflow: auto;}
.thank-you .row:first-of-type {padding-bottom: 0}
.thank-you img {max-width: 250px;}
.thank-you #logo {margin-bottom: 0}
.thank-you #logo img {max-width: none;}

#cookie-bar {position:fixed; z-index:1; bottom:0; left:0; width:100%; background:#222; color:#fff; box-shadow:0px -4px 8px rgba(0,0,0,0.25);}
#cookie-bar p {display:block; max-width:1200px; margin:0 auto; padding:15px; font-size:1rem; overflow:auto;}
#cookie-bar p .btn {font-size:1rem; float:right; background:#fff; color:#000; border:0; padding:0.75rem 1rem;}
#cookie-bar p span {display:block; float:left; margin-top:0.75rem;}
#cookie-bar p span a {color:inherit; text-decoration:underline;}

.phones p {font-size: 1.5rem;}
.phones a {color: #01923F}

.green {color: #01923F}

#nowe-pszenice {padding-top: 0}
#nowe-pszenice .features ul li {font-size: 0.9rem}
#nowe-pszenice .frame {margin-bottom: 1rem; background: #ddf8fa; padding: 1rem; border-radius: 15px; overflow: auto;}
#nowe-pszenice .badge {width: 70px; height: 70px; position: static; transform: none}
#nowe-pszenice #pszenica-turandot .frame {background:#d9f2e1}

/* Grid styles for resolution up to 1175px (M) */
@media only screen and (max-width:73.5rem) {
	header h1 {font-size:3.25rem;}
	header .formularz .miarka {transform: none}
	header .big-buttons {margin-top: 3rem;}
	header .formularz {margin-left: 3.1rem}
}

/* Grid styles for resolution up to 1060px (M) */
@media only screen and (max-width:66.25rem) {
	header h1 {font-size:3rem;}
	header .big-buttons {margin-top: 4rem;}
	header .big-button {font-size: 1.45rem}
}

/* Grid styles for resolution up to 970px (M) */
@media only screen and (max-width:60.625rem) {
	header {padding-bottom: 0}
	header #logo {margin-bottom: 5rem}
	header h1 {margin-bottom: 3rem}
	header .background {height: 70%;}
	header .formularz {position: static; margin-left: 0; border-radius: 0; background: #F7F7F7}
	header .formularz .col {padding: 0;}
	header .formularz .l6 {padding: 2rem 0;}
	header .formularz .l6:first-of-type {clear: both;}
	header .formularz .l6.text-right {text-align: center}
	header .formularz .field input[type="text"], header .formularz .field input[type="email"], header .formularz .field input[type="tel"] {background: #fff; padding: 0.65rem 1rem;}
	header .formularz .miarka img, header .formularz .miarka p {display: inline-block; float: none}
	header .formularz .miarka img {margin-top: 2rem}
	header .formularz .badge {width: 90px; height: 90px; padding: 1rem; margin-right: 2rem; position: static; float: left}
	header .big-buttons {margin-top: 2rem; padding-bottom: 2rem;}
	header .big-button {font-size: 1.125rem}
	header .big-button img {width: 60px; height: 60px; margin-left: -2.8rem; }
	header .big-buttons .big-button.left-margin {left: 2rem;}

	header .pre-title.small {width: 100%; max-width: 100%}

}

/* Grid styles for resolution up to 800px (S) */
@media only screen and (max-width:50rem) {
	header .formularz .badge {transform: none}
	header .big-buttons {overflow: visible}
	header .big-buttons .big-button.left-margin {left: 0;}
	header .big-buttons .big-button {padding-top: 2.5rem; font-size: 1rem;}
	header .big-buttons .big-button img {position: absolute; top: -2rem; left: 1rem; margin-left: 0}
	.circle {max-width: 400px;}
	.badge {width: 90px; height: 90px; top: 2rem; left: 50%; transform: translateX(130%) }

	footer .footer-bottom {text-align: center}
	footer ul {text-align: center;}

}

/* Grid styles for resolution up to 640px (XS) */
@media only screen and (max-width:40rem) {
	header .big-buttons .big-button {padding-top: 1rem; font-size: 0.8rem; }
	header .big-buttons .big-button img {position: static; width: 50px; height: 50px; margin-top: -0.5rem; padding: 0.5rem;}
	header .background {height: 50%;}
	header .formularz .miarka img {margin-top: 0;}
	header .formularz p {margin-top: 2rem}
	header .formularz .button {width:  100%}
	header .formularz .badge {width: 50px; height: 50px; padding: 0.75rem; margin-right: 1rem; }
	footer img {margin-top: 1.5rem}
	h2 {font-size: 2rem;}
	.subtitle {margin: 1.5rem 0; font-size: 1.35rem}
	p.big {font-size: 1.35rem}
	.features span {font-size: 1.35rem}
	.features ul li {font-size: 1rem}
	.phones p {font-size: 1.2rem;}

	#cookie-bar p, #cookie-bar p .btn {font-size: 0.8rem;}
	#cookie-bar p span {margin-top: 0;}
	#cookie-bar p .btn {margin-top: 0.25rem;}

	header #logo {padding:0.75rem 1.5rem; max-width: 150px; margin-bottom: 1rem;}

}

/* Grid styles for resolution up to 520px (XS) */
@media only screen and (max-width:32.5rem) {
	header h1 {font-size: 2rem}
	header .big-buttons {margin-top: 0}
	header .big-button {padding-right: 3rem; font-size: 0.9rem}
	header .big-button:after {width: 24px; height: 24px; position: absolute; top: 50%; right: 0.75rem; transform: translateY(-50%);}
	header .big-button img {margin-top: 1rem; }
	header .background {min-height: 110vh;}	
	header .formularz .badge {width: 50px; height: 50px; transform: translateY(7px)}
	.circle {max-width: 100%}
	.badge {width: 70px; height: 70px; top: 1rem; left: 40%; transform: translateX(130%) }


	header .pre-title.small p {width: 80%; font-size: 0.85rem; line-height: 1.2;}
	header .pre-title.small p strong {font-size: 1.25rem;}
	header .pre-title.small .miarka {width: 20%;}
	header .pre-title.small .miarka p {display: none}
	header .pre-title.small .miarka img {position: relative; top: 10px; max-height: 75px;}
	header .pre-title.small .miarka:before {bottom: -1.4rem;}


}

/* Grid styles for resolution up to 480px (XXS) */
@media only screen and (max-width:30rem) {
	header .pre-title.small .miarka img {position: relative; top: 15px; max-height: 65px;}
	header .pre-title.small .miarka:before {bottom: -10rem;}
}

/* Grid styles for resolution up to 360px (XXS) */
@media only screen and (max-width:22.5rem) {

}